{% extends "base.html" %}
{% block title %}
    Form
{% endblock title %}

{% block content %}
    <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script>
        $(document).ready(function(){
            $("#txtSearch").autocomplete({
                source: "ajax_calls/search/",
                /* Defenir o tanto de letra para começar a buscar*/
                minLength: 1,
                open: function(data){
                    setTimeout(function (data) {
                        $('.ui-autocomplete').css(
                            {'z-index':1000, 'list-style': 'square',
                                'background': '#d3d3d6', });
                        $('.ui-menu-item').css({'border': '1px solid gray', 'padding': '5px'})
                    }, 0);
                }
              });
        });
    </script>
    <div class="container text-center">
        <div class="card-body">
            <h2>Formulário Autocomplete produtos</h2>
            <form id="search" method="POST">{% csrf_token %}
                <input type="text" class="form-control" id="txtSearch" name="txtSearch">
                <div class="mt-3">
                    <button type="submit" class="btn mr-auto btn-info">Confirmar</button>
                </div>
                <ul id="ui-id-1" tabindex="0" class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" style="position: relative; top: -445px; left: 293px; z-index: 99; width: 1346px; display: none;"><li class="ui-menu-item"><div id="ui-id-4" tabindex="-1" class="ui-menu-item-wrapper">Arroz Tio Urbano - 5Kg - R$ 10.50</div></li><li class="ui-menu-item"><div id="ui-id-5" tabindex="-1" class="ui-menu-item-wrapper">Arroz Tio Rural - 5Kg - R$ 9.90</div></li></ul>
            </form>
        </div>
    </div>
{% endblock content %}
