{% extends "base.html" %}
{% load static %}
{% load tags %}
{% block title %}
    Realizar venda
{% endblock title %}

{% block content %}
    <h2 class="lead">Realizar venda</h2>
    <hr>
    <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script>
        $(document).ready(function(){
            $("#add-item").click(function(ev) {
                ev.preventDefault();
                var count = $('#order').children().length;
                var tmplMarkup = $("#item-order").html();
                var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
                $("div#order").append(compiledTmpl);

                // update form count
                $('#id_product-TOTAL_FORMS').attr('value', count + 1);

                // some animate to scroll to view our new form
                $('html, body').animate({
                    scrollTop: $("#add-item").position().top-200
                }, 800);
            });
        });
    </script>
    <form method="post" id="form-id">
        {% csrf_token %}
        <div class="form-group">
            <label>Data: {{ forms.data }}</label>
            <label>Cliente: <a href="{% url 'cadastrar_cliente' %}"><i class="fa fa-plus"></i>Novo</a> {{ forms.cliente }}</label>
            <label>Forma de pagamento:  {{ forms.forma_pagamento }}</label>
        </div>

        {{ formset.management_form }}
        {{ formset.management_form.errors }}
        {{ forms.errors }}


        <legend class="lead">LISTA DE PRODUTOS</legend>
        <fieldset class="bg-gradient-secondary py-1 px-2">
            <div id="order" class="form-inline form-group">
                    {% for item_order_form in formset %}
                        <div id="item-{{ forloop.counter0 }}">
                            {{ item_order_form }}
                        </div>
                    {% endfor %}
                </div>
            <hr>
            <a class="btn btn-info" id="add-item"><i class="fa fa-plus"></i> Adicionar item</a>
            <hr>
        </fieldset>
        <hr>
        <div class="card-body">
            <h3 class="lead">Valor total: R$ <span id="valor_total">0,00</span></h3>
        </div>
        <hr>
        <div class="form-group">
            <a href="{% url 'listar_vendas' %}" class="btn btn-secondary">Voltar</a>
            <button class="btn btn-primary" type="submit"  name="cadastrar">Finalizar</button>
        </div>
        </form>
         <script type="text/html" id="item-order">
        <div id="item-__prefix__" style="margin-top: 10px">
                {{ formset.empty_form }}
        </div>
    </script>
{% endblock content %}