{% extends "base.html" %}
{% load tags %}
{% block title %}
    Realizar venda
{% endblock title %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Data: {{ form_venda.data }}</label>
            <label>Cliente:  {{ form_venda.cliente }}</label>
            <label>Forma de pagamento:  {{ form_venda.forma_pagamento }}</label>
        </div>

        {{ form_item.management_form }}
        {{ form_item.management_form.errors }}
        {{ form_venda.errors }}

        <legend class="lead">LISTA DE PRODUTOS</legend>
        <fieldset class="bg-gradient-secondary py-1 px-2">
            <div id="order" class="form-box">
            {% for item in form_item %}
                <hr>
                <div id="item-{{ forloop.counter0 }}" class="form-group">
                    {{ item }}
                </div>
            {% endfor %}
            </div>
            <hr>
            <a class="btn btn-info" id="add-item"><i class="fa fa-plus"></i> Adicionar item</a>
            <hr>

        </fieldset>
        <hr>
        <div class="card-body">
            <h3 class="lead">Valor total: R$ <span id="valor_total">0,00</span></h3>
        </div>
        <hr>
        <div class="form-group">
            <a href="{% url 'listar_vendas' %}" class="btn btn-secondary">Voltar</a>
            <button class="btn btn-primary" type="submit"  name="cadastrar">Finalizar</button>
{#            <a class="btn btn-warning" href="{% url 'gerar_relatorio' %}">Exemplo da opção Imprimir</a>#}
        </div>
    </form>
{% endblock content %}