{% extends "base.html" %}

{% block title %}
Listagem de vendas
{% endblock title %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Data</th>
                <th>Cliente</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for i in object_list %}
            <tr>
                <td>{{i.venda_id.data| date:"d/m/Y"}}</td>
                <td>{{i.venda_id.cliente.nome }}</td>
                <td>R$ {{i.venda_id.valor_total }}</td>
                <td>
{#                    <a href="{% url 'editar_produto' i.id %}">Editar</a>#}
{#                    <a href="{% url 'remover_produto' i.id %}">Remover</a>#}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{#    <a href="{% url 'detalhes_venda' i.id %}"></a>#}

{#    <a href="{% url 'vender' %}"><button class="btn btn-primary">Nova venda</button></a>#}
{% endblock content %}
