{% extends "base.html" %}
{% load tags %}
{% block title %}
Cadastro de produtos
{% endblock title %}
{% block content %}
    <h2 class="lead">Cadastro de produto</h2>
    <hr>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.produto.errors }}
            <label>Produto: </label>
            {{ form.produto }}
        </div>

        <div class="form-group">
            {{ form.codigo.errors }}
            <label>Código: </label>
            {{ form.codigo }}
        </div>

        <div class="form-group">
            {{ form.valor.errors }}
            <label>Preço: </label>
            {{ form.valor }}
        </div>

        <div class="form-group">
            {{ form.descricao.errors }}
            <label>Descrição: </label>
            {{ form.descricao }}
        </div>

        <div class="form-group">
            {{ form.quantidade.errors }}
            <label>Quantidade em estoque: </label>
            {{ form.quantidade }}
        </div>

        <div class="form-group">
            <a href="{% url 'listar_produtos' %}" class="btn btn-secondary">Voltar</a>
            <button class="btn btn-primary" type="submit" name="cadastrar">Salvar</button>
        </div>
    </form>
{% endblock content %}