{% extends "base.html" %}

{% block title %}
Listagem de produtos
{% endblock title %}

{% block content %}
    <h2 class="lead">Listagem de produtos</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Código</th>
                <th>Preço</th>
                <th>Estoque</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for i in object_list %}
            <tr>
                <td><a href="{% url 'detalhes_produto' i.id %}">{{i.produto|safe}}</a></td>
                <td>{{i.codigo }}</td>
                <td>R$ {{i.valor }}</td>
                <td>{{i.quantidade }}</td>
                <td>
                    <a href="{% url 'editar_produto' i.id %}">Editar</a>
                    <a href="{% url 'remover_produto' i.id %}">Remover</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="paginate_button page-item previous">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                </li>
                {% else %}
                <li class="paginate_button page-item previous disabled">
                    <a class="page-link" href="#" >Anterior</a>
                </li>
            {% endif %}
            {% for page in page_obj.paginator.page_range %}
                    {% if page == page_obj.number %}
                        <li class="paginate_button page-item active">
                            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                        </li>
                        {% else %}
                        <li class="paginate_button page-item">
                            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                        </li>
                    {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="paginate_button page-item next">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Próximo</a>
                </li>
                {% else %}
                <li class="paginate_button page-item next disabled">
                    <a class="page-link" href="#">Próximo</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
    <a href="{% url 'cadastrar_produto' %}"><button class="btn btn-primary">Cadastrar produto</button></a>
{% endblock content %}
