{% extends "base.html" %}
{% load tags %}
{% block title %}
Cadastro de clientes
{% endblock title %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.nome.errors }}
            <label>Nome: </label>
            {{ form.nome }}
        </div>

        <div class="form-group">
            {{ form.cpf_cnpj.errors }}
            <label>CPF/CNPJ: </label>
            {{ form.cpf_cnpj }}
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit" name="cadastrar">Salvar</button>
        </div>
    </form>
{% endblock content %}