{% extends "base.html" %}

{% block title %}
Listagem de clientes
{% endblock title %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF/CNPJ</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for i in object_list %}
            <tr>
{#                <td><a href="{% url 'listar_cliente_id' i.id %}">{{i.nome|safe}}</a></td>#}
                <td>{{i.nome }}</td>
                <td>{{i.cpf_cnpj }}</td>
                <td>
{#                    <a href="{% url 'editar_cliente' i.id %}">Editar</a>#}
{#                    <a href="{% url 'remover_cliente' i.id %}">Remover</a>#}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'cadastrar_cliente' %}"><button class="btn btn-primary">Cadastrar cliente</button></a>
{% endblock content %}
